.container-fluid a {
	color: black;
}

.h-slider {
	color: white !important;
}

article a:hover {
	color: #3366cc !important;
}

.navbar {
	border-bottom: 0 !important;
	background: #333399 !important; 
}

.navbar-brand,
footer p {
	color: white !important;
}

.menu-item {
	background-color: #333399;
}

.menu-item a:hover {
    color: black !important;
}

.menu-item > a {
	color: white !important;
}

/* headers like 'latest' */
h1, h2, h3, h4, h5, h6 {
	color: #333399 !important;
}


article > h1:first-child {
	color: #333399 !important;
}

 .pagination > ul > li > a:hover,  .pagination-within > li > a:hover  {
	 color: white !important;
 }

 .btn, .comment-reply-link, .form-submit > input#submit, input.search-submit {
	 background-color: #3399ff !important;
 }

 .badge-date, .badge-featured {
	 color: white !important;
	 background-color: #333399 !important;
 }

 .read-more-btn {
	color: white !important;
}

.search-submit {
	color: white !important;
}

 .post-subitems, .post-subitems > a, .author-name a, .fn a {
	 color: #3399ff !important;
 }

 .pagination > ul > li:hover, .pagination-within > a > li:hover, .btn:hover, .comment-reply-link:hover, .submit:hover {
	 color: white !important;
	 background-color: #3366cc !important;
 }

.collection .collection-item:hover, .widget > ul > li:hover, .pagination > ul > li.active, .pagination-within > li {
	background-color: #3399ff !important;
}

.fa-bars {
	color: white !important;
}

.fa-clock-o,
.fa-user,
.fa-circle,
.fa-tag,
.fa-list {
	color: #333399 !important;	
}

.text-muted {
	margin-bottom: 0 !important;
}

#wp-calendar caption {
	color: #333399 !important;
}